<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>

<body>
    <h2 id="name">Hello Jeune Inconnu</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia totam enim laboriosam tempora deleniti
        blanditiis ea sint velit sequi soluta. Iure totam dolorum enim saepe placeat illum quis perspiciatis impedit.
    </p>

    <p><input type="button" value="Embêter le serveur" id="poke" onclick="myFunction()" /></p>
    <form id="formuPseudo">
        <input type="text" id="pseudo">
        <button>Quel est ton pseudo ?</button>
    </form>
    <form id="form">
        <input type="text" id="chat">
        <button>Want to chat ?</button>
    </form>
    <div id="willy"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../chat.js"></script>
</body>

</html>