<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>

<body>
    <h2 id="name">Hello Jeune Inconnu</h2>
    <p><input type="button" value="Embêter le serveur" id="poke" onclick="myFunction()" /></p>
    <form id="formuPseudo">
        <input type="text" id="pseudo">
        <button>Quel est ton pseudo ?</button>
    </form>
    <form id="form">
        <input type="text" id="chat">
        <select id="send">
            <option value="everyone">Everyone</option>
        </select>
        <button>envoyez le message</button>
    </form>
    <div id="willy"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../chat.js"></script>
</body>

</html>